
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --black: #000000;
    --bg-dark: #141922;
    --primary: #717171;
    --secondary: #7A7D81;
    --player: #282828;
    --selected: #ADFF2F;
    --icons: #D2D2D2;
    --white: #FFFFFF;

}


body{
    /* background-color: coral; */
    font-family: sans-serif;
}


.container{
    height: calc(100vh - 70px);
    /* max-width: 1440; */
    background-color: coral;
}

.row{
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

main{
    width: calc(100% - 245px);
    height: 100%;
    background-color: var(--bg-dark);
    float: left;
}




/* sidebar */

aside{
    height: 100%;
    background-color: var(--black);
    width: 245px;
    float: left;
    padding-left: 21px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s;
        
}

aside ul{
    list-style: none;
    /* color: white; */
    
}

aside a{
    text-decoration: none;
    color: var(--primary);
    line-height: 35px;

    
    
    
}

nav img {
    width: 25px;

}

.hero_show span{
    color: var(--white);
}

.hero_show img{
    filter: contrast(1);
}

nav img{
    filter: contrast(0);
    margin-bottom: -5px;
}

.logo img{
    width: 120px;
}

.logo{
    line-height: 65px;
}

aside span{
    font-size: 13px;
    font-weight: 600;
}






/* hero content */

.hero_content{
    background-color: var(--bg-dark);
    width: 85%;
    float: left;
    height: 400px;
}


/* FOOTER */

#site_footer{
    background-color: var(--player);
    height: 70px;


}